<body2 class="body2">


    <div class="mainContainer" id="mainContainer" data-ng-init="init()">
      <div id="timeContainer">
        <show-time></show-time>
      </div>

      <div class="bookSearchContainer" ng-hide="hasSearchResults" ng-model="searchContainer">
          <input id="inputBox" type="text" placeholder="Search Any Book" ng-model="book" ng-keyPress="keyPress($event)">
          <div  type="submit" id="button" ng-click="bookSearch(book)"><img src="/styles/magglass.png" style="height:30px; width30px" alt=""></div>
        </div>
      </div>

      <div class="results-container" ng-repeat="books in booksArr">
        <div class="results" id="results">
          <a class="titleResults" ng-click="passData(books)" ui-sref="details({id: books.id})">{{books.volumeInfo.title}}</a>
        </div>
      </div>

    </div>

</body2>
